<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="saveInDB" value="false" />
    <add key="saveInJSON" value="true"/>
    <add key="JSONFolderForXML" value="C:\Users\ldavtyan\Desktop\PR Project\JSON\From XML" />
    <add key="JSONFolderForCSV" value="C:\Users\ldavtyan\Desktop\PR Project\JSON\From CSV" />
  </appSettings>
</configuration>