<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="New.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="conString" value="Data Source=tcp:micinternship.database.windows.net,1433; Initial Catalog = praemium1;Persist Security Info=True;User ID=mic;Password=Admin.Pa$$"/>
    <add key="FolderMonitorPath" value="C:\Users\user\Desktop\XMLGENERAIT"/>
    <add key="JsonFolderPath" value="C:\Users\user\Desktop\JsonSave\" />
    <add key="WrongFilePath" value="C:\Users\user\Desktop\Wrong\"/>
    <add key="EventLogFileName" value="LogFile"/>
    <add key="EventLogSource" value="Corp_CRM_Auto-Feed"/>
    <add key="saveInDB" value="true"/>
    <add key="saveInJSON" value="true"/>
    <add key="LogToFile" value="true"/>
    <add key="LogToWinEventLog" value="false"/>
    <add key="LogToConsole" value="true"/>
  </appSettings>
</configuration>